body {
    overflow-x: hidden;
    background-color: #288fb5;
}

.app-wrapper {
    max-width: 1170px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 25px;
    padding-right: 25px;
}

.accordeon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    position: relative;
    color: blue;
}

.accordeon .accordeon-item:active {
    color: blue;
    opacity: 0.4;
}

.accordeon .accordeon-item:after {
    color: black;
}

.accordeon .accordeon-item:hover .memes {
    display: block;
    animation: slideOn 0.7s 1 ease-in-out;
}

.accordeon .accordeon-item:hover .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

.accordeon .accordeon-item:hover .bar2 {
    transform: translate(0, -4px) rotate(45deg);
}

.accordeon-item .accordeon-item:not(img) {
    /*color: blue;*/
}

.accordeon .accordeon-item:has(img):after .memes {
    display: flex;
    animation-play-state: paused;
}

.accordeon .accordeon-item:has(img):hover .memes {
    display: flex;
}

.accordeon .accordeon-item, #one:checked ~ * .memes {
    display: block;
    animation: none;
}


.accordeon .accordeon-item, #one:checked ~ * .head-memes {
    /*color: black;*/
}

#one:checked ~ * .accordeon-item {
    /*color: black;*/
}

#one:checked ~ * .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

#one:checked ~ * .bar2 {
    transform: translate(0, -4px) rotate(45deg);
}

.accordeon .accordeon-item, #two:checked ~ * .memes {
    display: block;
    animation: none;
}

#two:checked ~ * .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

#two:checked ~ * .bar2 {
    transform: translate(0, -4px) rotate(45deg);
}

.accordeon .accordeon-item, #three:checked ~ * .memes {
    display: block;
    animation: none;
}

#three:checked ~ * .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

#three:checked ~ * .bar2 {
    transform: translate(0, -4px) rotate(45deg);
}

.accordeon .accordeon-item, #four:checked ~ * .memes {
    display: block;
    animation: none;
}

#four:checked ~ * .bar1 {
    transform: translate(0, 6px) rotate(-45deg);
}

#four:checked ~ * .bar2 {
    transform: translate(0, -4px) rotate(45deg);
}

@keyframes slideOn {
    0% {
        /*display: block;*/
        opacity: 0.1;
        height: 100px;
        width: 100px;
    }
    100% {
        background-color: blue;
        opacity: 1;
        width: 400px;
    }
}

.accordeon-item {
    overflow: hidden;
}

.memes {
    padding: 0;
    margin-right: 25%;
    display: none;
    width: 400px;
    height: 400px;
}

.visible {
    display: none;
}

h3 {
    display: flex;
    width: 100px;
    padding: 0;
    margin: 0;
    z-index: 0;
}

hr {
    width: 400px;
}

.container-ico {

    width: 40px;
    height: 30px;
    position: relative;
    z-index: 1;
    left: 60%;
    padding: 0;
    margin: 0;
}

.bar1, .bar2 {
    display: none;
    background-color: black;
    width: 24px;
    height: 4px;
    margin: 6px 0;
    transition: 0.4s;
}

.bar1 {
    transform: translate(0, 6px) rotate(-90deg);
}

.bar2 {
    transform: translate(0, -3px) rotate(0deg);
}


.head-memes {
    display: flex;
    flex-direction: row;
}

.accordeon:hover .bar1 {
    display: block;
}

.accordeon:hover .bar2 {
    display: block;
}

.accordeon:hover {
    color: black;
}

.head-memes:hover {
    cursor: pointer;
}
