.app-wrapper {
    max-width: 1170px;

    margin-left: auto;
    margin-right: auto;

    padding-left: 10px;
    padding-right: 10px;
}

.accordeon {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    left: 20%;
    right: 20%;
}

.accordeon .accordeon-item:hover .memes {
    display: block;
}

/*.accordeon .accordeon-item:hover .memes {*/
/*    display: block;*/
/*}*/

.accordeon .accordeon-item, #one:checked ~ * .memes {
    display: block;
}

.accordeon .accordeon-item, #two:checked ~ * .memes {
    display: block;
}

.accordeon .accordeon-item, #three:checked ~ * .memes {
    display: block;
}

.accordeon .accordeon-item, #four:checked ~ * .memes {
    display: block;
}


/*.check:checked .memes {*/
/*    display: block;*/
/*}*/

.memes {
    display: none;
    width: 601px;
    height: 400px;
}
